.box {
	border: 1px solid black;
	height: 50px;
	width: 150px;
	padding: 10px;
	margin-top: 10px;
	font-weight: bold;
	color: #fff;
}

#red {
	background-color: red;
}

#orange {
	margin-left: 30px;
	background-color: orange;
}

#yellow {
	margin-left: 60px;
	background-color: yellow;
}

#green {
	margin-left: 90px;
	background-color: green;
}

#blue {
	margin-left: 120px;
	background-color: blue;
}

#pink {
	margin-left: 150px;
	background-color: pink;	
}